@import 'styles/colors.scss';

.yellow {
  background-color: $accent-yellow;
}

.purple {
  background-color: $accent-purple;
}

.green {
  background-color: $accent-green;
}

.red {
  background-color: $accent-red;
}

.darkblue {
  background-color: $accent-darkblue;
}

